body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f3f4; /* Color de fondo más claro */
    color: #333;
}

header {
    background-color: #2980b9; /* Cambié el color del header a un azul más vibrante */
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Añadir sombra al header */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s; /* Añadir transición suave al color */
}

nav ul li a:hover {
    color: #ecf0f1; /* Color de texto más claro en hover */
}

main {
    padding: 20px;
}

.categoria {
    margin: 40px 0;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
}

.plato {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.plato img {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    border-radius: 8px; /* Borde más suave */
    margin-right: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Añadir sombra a las imágenes */
}

.plato h3 {
    margin: 0;
    font-size: 1.2em; /* Aumentar el tamaño de fuente */
    color: #2980b9; /* Color de texto para el título del plato */
}

.plato p {
    margin: 5px 0;
    line-height: 1.5; /* Mejora la legibilidad */
}

.cantidad {
    display: flex;
    align-items: center;
}

.cantidad input {
    width: 40px;
    margin-right: 10px;
    border: 1px solid #ccc; /* Añadir borde a la entrada */
    border-radius: 5px; /* Borde redondeado */
    padding: 5px; /* Espaciado interno */
}

button {
    background-color: #e74c3c; /* Color principal del botón */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave al cambiar el color */
}

button:hover {
    background-color: #c0392b; /* Color en hover más oscuro */
}

footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer h4 {
    margin: 10px 0;
}

footer p {
    margin: 5px 0;
}

/* Ajustes para las imágenes de los platos */
.categoria .plato img {
    width: 100%; /* O un tamaño fijo como 300px */
    height: auto; /* Mantiene la proporción de aspecto */
    max-width: 300px; /* Ajusta el tamaño máximo deseado */
    display: block; /* Para asegurarte que no haya espacios debajo de las imágenes */
    margin: 0 auto; /* Centra las imágenes dentro del contenedor */
    border-radius: 15px; /* Borde redondeado más pronunciado */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
}
